body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Honk", system-ui;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(rgb(80, 14, 80)) padding 20px;
    padding: 20px;
    font-size: 32px;
    color: rgb(80, 14, 80);
}

.chamada {
    background: rgb(143, 25, 137);
    color: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 1%;
}

h1 {
    font-size: 46px;
}

p {
    font-size: 26px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 2px solid seagreen;
}